.game-card {
    background-size: cover;
    width: 110px;
    height: 180px;
    display: inline block;
    float: left;
    margin: 0px 5px;
    border: 2px solid white;
    border-radius: 5px;
}

.face-down-card {
    background-image: url("https://cdn.wallpapersafari.com/65/59/n13UjJ.jpg");
}

.health-info {
    color: tomato;
}

.mana-info {
    color: yellowgreen;
}

.card-name {
    position: relative;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 10px;
    text-align: right;
    padding-right: 5px;
    margin-left: 5px;
    font-weight: bold;
    color: black;
}

.mana-orb, .attack-orb, .health-orb {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.mana-orb {
    background-color: yellowgreen;
    top: 0px;
    left: 0px;
    margin-top: -15px;
}

.attack-orb {
    background-color: dodgerblue;
    bottom: 0px;
    left: 0px;
    margin-top: 125px;
}

.health-orb {
    background-color: tomato;
    bottom: 0px;
    right: 0px;
    left: auto;
    margin-left: 82px;
    margin-top: -25px;
}